body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('istockphoto-1406674466-612x612.jpg'); 
    background-size: cover;
    min-height: 120vh;
    align-items: center;
    justify-content: center;
}
.navbar {
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px); /* Add the glass blur effect */
}
.navbar-logo {
    font-size: 26px;
    font-weight: bold;
    color: rgb(164, 168, 180);
    letter-spacing: 2px
}
.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 21px;
}

.navbar-link {
    margin-right: 20px;
    position: relative;
}
.navbar-link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar-link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navbar-link a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-link a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.nav-link {
    cursor: pointer;
}

.nav-link.active {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}
.nav-link {
    cursor: pointer;
}

.nav-link.active {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}
.more a:hover{
    color: rgb(119, 107, 107);
}
.more a:active{
    color: rgb(255, 251, 17);
}
.more{
    margin-top: 20%;
    margin-left: 42%;
}
.more a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    background-color: rgb(10, 138, 189);
    border: 3px solid black;
    font-size: 28px;
    padding: 10px 40px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 30px; /* Round the corners to make it circular */
    transition: transform 0.3s;
}
.more:hover {
    transform: scale(1.1); /* Increase the size on hover */
}
.loading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeIn 2s forwards; /* Fade in and stop at full opacity */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mi{
    align-items: center;
    margin-left: 40%;
    margin-top: 3%;
}
